
@{
    ViewData["Title"] = "Welcome";
}

<h1>WELCOME!</h1>
Thanks, @ViewData["name"], for signing up!<br />
A confirmation email has been sent to @ViewData["email"]<br />
Please enjoy a free latte on us!

